#disqus_thread{
  margin-top: 50px;
}

/* overwrite code block blue text and wite background */
pre code {
    color: #000;
    background-color: transparent;
}

/* overwrite bootstrp (box-sizing: border-box) for *all */
*{
    box-sizing: content-box;
}

/* keep elements inside panel */
.panel-body{
  overflow: hidden;
}

/* remove the underline for a in title and aside */
.title:hover, a.button:focus, a.button:hover{
  text-decoration: none;
}
